.header {
    background-color: #fff;
    border-radius: 25px;
    padding: 25px;
}

.heading {
    margin: 0;
    margin-bottom: 20px;
}

.step-by {
    color: var(--text-secondary-color);
}

.players {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 500;
}

.player {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.player1-mark {
    width: 25px;
    height: 25px;
    background-color: var(--player1-color);
    border-radius: 50%;
}

.player2-mark {
    width: 25px;
    height: 25px;
    background-color: var(--player2-color);
    border-radius: 50%;
}

.timer {
    font-size: 24px;
}

.player1_active {
    padding: 7px;
    background-color: var(--player1-bg-color);
    border-radius: 20px;
}

.player2_active {
    padding: 7px;
    background-color: var(--player2-bg-color);
    border-radius: 20px;
}

