:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #f2f3f5;

  --font: "Montserrat", sans-serif;

  --primary-color: #231934;
  --text-color: #000000;
  --border-color: #e5e5eb;
  --text-secondary-color: #5B5B5E;
  --white-color: #FFFFFF;
  --background-color: #f2f3f5;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}